// Personalized material style
.mat-column-name {
  width: 20%;
}

.mat-column-nbCar {
  width: 20%;
}

.mat-column-totalBudget {
  width: 15%;
}

.mat-column-reaminingBudget {
  width: 15%;
}

mat-form-field {
  width: 33%;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}
